
html, body {
    height: 100%;
    cursor: url(../images/plane.png), auto;
    background: #6AD7F6;
}

html:hover, body:hover, a:hover, .btn {
    cursor: url(../images/plane.png), auto;
}


.vertical-align {
    display: flex;
    align-items: center;

}

.align-middle {
	display: table-cell;
	vertical-align: middle;
    margin: 8% 20% 5% 44%;
}
.indexRow {
	margin-bottom: 5%;
	margin-top: 5%;
	height: 15%;
}
.customButton{
	width: 100%;
}
.customDiv{
	height: 15%;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

body {
    /* Center and scale the image nicely */
    background: url(../images/background.png) no-repeat center;
    background-size: cover;
}

.categories {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    color: #fff;
}

.category-hot-air-balloon {
    background: url(../images/category_hotairballoons.png) no-repeat center;
}

.category-planes {
    background: url(../images/category_planes.png) no-repeat center;
}

.category-rockets {
    background: url(../images/category_rockets.png) no-repeat center;
}

.category {
    background-size: cover;
    text-align: center;
    padding: 10px;
    width: 33.3333333%;
    height: 100%;
    font-family: 'Leckerli One', cursive;
    font-size: 44pt;
}

.category:hover {
    border: 10px solid rgba(0, 0, 0, 0.15);
}

.category-name {
    border: 6px solid;
}

.category-name-planes {
    border-color: #5B9CBC;
}

.category-name-hot-air-balloons {
    border-color: #448E88;
}

.category-name-rockets {
    border-color: #1E546B;
}
.customPlanes{
    margin: 30px 25%;

}
.modal-body {
   background-image: url(../images/background.png);
}
.modal-header {
   background-image: url(../images/background.png);
}

.modal-footer {
   background-image: url(../images/background.png);
}
.modal-body a{
    color:white;
}
.modal-header h4{
    color:white;
}

.categoryA {
    color: #fff;
}

.categoryA:hover {
    color: #fff;
}

.video-categories {
    font-family: 'Leckerli One', cursive;
}

.video-category-title {
    font-size: 44pt;
    text-align: center;
    color: #fff;
}

.video-box {
    margin-top: 2%;
    padding: 15px;
}

.video-box-content {
    padding: 10px;
    background: #1E546B;
    color: #fff;
    font-size: 20pt;
}

.customButton {
    height: 130px;
    border: 3px solid #E38D13;
    font-family: 'Leckerli One', cursive;
    color: #fff;
    font-size: 36pt;
}

.home-button-learn {
    background-image: url(../images/button1.png);
}

.home-button-quiz {
    background-image: url(../images/button2.png);
}

.home-button-play{
    background-image: url(../images/button3.png);
}
